#make_it_to_The_Center {
    color: black;
    outline: solid black;
    text-align: center;
    background-image: url("CyberSecurity/weq.jpg");
}

.fontStyle {
    font-size: 16px;
    line-height: 30px;
}

.cyberw {
    font-size: 19px;
    margin: 80px;
    text-align: justify;
    line-height: 40px;
}

.Attacks {
    margin: 80px;
}
.text {
    font-size: 19px;
    line-height: 40px;
    margin: 0px;
}

.types_attack {
    font-size: 20px;
    line-height: 40px;
    margin: 0px;
}